= form_for @downloader_country_level do |f|
  - if @downloader_country_level.errors.any?
    #error_explanation
      %h2= "#{pluralize(@downloader_country_level.errors.count, "error")} prohibited this downloader_country_level from being saved:"
      %ul
        - @downloader_country_level.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :category_id
    = f.collection_select :downloader_category_id, Downloader_category.all, :id, :name
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :url
    = f.text_area :url
  .field
    = f.label :content_category_id
    = f.collection_select :downloader_category_content_id, Downloader_category.all, :id, :name
  .field
    = f.label :xpath
    = f.text_field :xpath
  .actions
    = f.submit 'Save'
